{% for item in repos %}

[{{ item.label }}]
name={{ item.name }}
baseurl=http://{{ item.url }}
{% if item.gpgkey is defined %}
gpgkey={{ item.gpgkey }}
gpgcheck=1
{% else %}
gpgcheck=0
{% endif %}
enabled=1

{% endfor %}
